* {
  box-sizing: border-box;
}

body {
    margin: auto 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
    color: #242739;    
     line-height: 1.42;
     background-color: #fafbfe;
}


/* NAV */
 .navbar   {
   height: 6rem;
   background-color: #e0ebe8;
  
 }
    
.main-nav {
    display: flex;
    margin: 0;
    padding: 1rem;
    /* background-color: #fafbfe; */
    z-index: 999;
}

/* hamburger menu start */
.bar_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #69d5b1;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -moz-transform: rotate(-50deg) translate(-4px, 3px);
     -o-transform: rotate(-50deg) translate(-4px, 3px);
     -ms-transform: rotate(-50deg) translate(-4px, 3px);
  -webkit-transform: rotate(-50deg) translate(-4px, 3px);
  transform: rotate(-50deg) translate(-4px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  
     -moz-transform: rotate(50deg) translate(-8px, -8px);
     -o-transform: rotate(50deg) translate(-8px, -8px);
     -ms-transform: rotate(50deg) translate(-8px, -8px);
  -webkit-transform: rotate(50deg) translate(-8px, -8px);
  transform: rotate(50deg) translate(-8px, -8px);
}
/* hamburger menu end */

.link {
    padding: 0.65rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 900;
}

.link a {
    color: #69d5b1;
    text-decoration: none;
}

.item, .main-nav {
  flex-direction: column;
  position: relative;
 
}

.item {
  display: none;
  align-self: flex-end;
  text-decoration-line: overline;
  text-decoration-color: #69d5b1;
}

.item a {
    color: rgba(0,0,0,0.5);
}

.toggleShow {
  display: flex;
}

.link-toggle {
  font-size: 1.5rem;
  align-self: flex-end;
  display: initial;
   position: absolute;
  cursor: pointer;
  z-index: 999;
}    

#my-name{
    color: #242739;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #69d5b1;
}
 
/* COVER */

.container {
    /* background-color: #fafbfe; */
    background-color: #e0ebe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2.5rem 2rem 2rem 2rem;
}

.column {
    width: 20rem;
    font-size: 1.2rem;
  }
.column-hero {
  z-index: 1000;
  width: 20rem;
  justify-content: center;
  align-items: center;
}
  
.hero {
    width: inherit;
  }

  .column-text {
    padding-top: 1.5rem;
    text-align: center;
}

 .rollIn {
   animation-delay: 1.5s;
  }

 h3 {
   color: #69d5b1;
 }

 h4 {
  color: rgba(0,0,0,0.5);
  padding: 0 2rem; 
}

h4 > div {
  /* font-family: sans-serif; */
  text-align: center;
  font-size: 1rem;
}

@media only screen 
and (min-width: 700px)
and (max-width: 899px) {

   .column-text {
     padding-top: 2.5rem;
   }
}

@media only screen and (min-width: 900px ) {
  .item {
   font-size: 1.3rem;
  }

  .link-toggle {
    font-size: 2rem;
  }
   .column {
     width: 600px;
   }

   .column-text {
     padding-top: 5rem;
   }

   h4 {
    height: 10rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
   }
}


/* ABOUT ME */

header {
  position: relative;
  height: 20rem;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(#69d5b1, #242739 ); */
  background:  #69d5b1;
   background: -moz-linear-gradient(top, #679895 0%, #69d5b1 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #69d5b1), color-stop(100%, #679895));
   background: -webkit-linear-gradient(top, #679895, #69d5b1);
    background: -o-linear-gradient (top, #679895, #69d5b1);
     background: -ms-linear-gradient(top, #679895 0%, #69d5b1 100%); 
     background: linear-gradient(top,#679895 0%, #69d5b1 100%); 
  transform: skewY(-12deg);
  transform-origin: top left;
}

h2 {
  margin: 0;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: rgba(0,0,0,0.5);
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header h2 {
  position: relative;
  color: white;
}

.profile-container {

    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;

} 
.aboutMe {
  text-align: justify;
  line-height: 1.8;
}


.profile-svg {
  width: 20rem;
}
 
/* CONTACT ME */
  .contact_svg {
    width: 100%;
    margin: 0 auto;
  }

 .contact_container div{
     text-align: center;
     margin-top: -1rem;
 }

 .contactMe {
  background-color: #fadadd;
  line-height: 2.5;
  border-radius: 300%;
    z-index: 1001;
    position: relative;
    border: 0.5px solid lightgray;
 }

 h3 {
   font-size: 2rem;
   color: #69d5b1;
   margin: 0;

 }
 .email {
   text-decoration: none;
   font-size: 1.5rem;
   color: #69d5b1;
 }

 .email:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #69d5b1;
  margin: 0 auto;
}

 .social_icons i {
   padding: 1rem;
 }

 

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #242739;
    /* background-color: #6C63FF; */
    color: #fafbfe;
}

.footer-text {
    font-size: 1em;
}


/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */


/* .yellow{
    background: #D2F9FE; */
    /* background:  #D2F9FE; /* Old browsers */
    /* background: -moz-linear-gradient(top, #FEDE4C 0%, #FAC503 100%); FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #FEDE4C), color-stop(100%, #FAC503)); Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top,  #FEDE4C 0%, #FAC503 100%); Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top,#FEDE4C 0%, #FAC503 100%); Opera 11.10+ */
    /* background: -ms-linear-gradient(top,  #FEDE4C 0%, #FAC503 100%); IE10+ */
    /* background: linear-gradient(top,   #FEDE4C 0%, #FAC503 100%); W3C */
