* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
    margin: auto 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
    color: #242739;    
     line-height: 1.42;
     background-color: #fafbfe;
}

a {
  text-decoration: none;
}

/* NAV */


  .navbar   {
   height: 6rem;
   background-color: #e0ebe8;
 }
    
.main-nav {
    display: flex;
    margin: 0;
    padding: 1rem;
    z-index: 1100;
}

.navStyle {
  transition: background-color 0.7s ease;
  background-color: #fafbfe;
  opacity: 0.9;
}

.link {
  padding: 1rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 900;
}


.link a {
  text-decoration: none;
}

.link a:hover {
  color: #FFC3A5;
text-decoration-line: overline;
}

.item, .main-nav {
flex-direction: column;
position: relative; 
}

.item {
display: none;
cursor: pointer;
}

.dropdown {
  text-align: center;

}
.item a {
  color: rgba(0,0,0,0.5);
}

.toggleShow {
display: flex;
}

.link-toggle {
font-size: 1.5rem;
align-self: flex-end;
display: initial;
position: absolute;
}

.social_icons {  
     display: inline-flex;
     justify-content: space-around;
}

.social_icons .fab {
  color: rgba(0,0,0,0.5);
  border-radius: 150%;
  background-color:  #69d5b1;
  padding: 0.8rem;
}

.social_icons .fab:hover {
  color: #FFC3A5;
  background-color: #698dd5;
}
/* hamburger menu start */

.bar_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #69d5b1;
  margin: 3px 0;
  transition: 0.4s;
}


.change .bar1 {
  -moz-transform: rotate(-50deg) translate(-4px, 3px);
  -o-transform: rotate(-50deg) translate(-4px, 3px);
  -ms-transform: rotate(-50deg) translate(-4px, 3px);
  -webkit-transform: rotate(-50deg) translate(-4px, 3px);
  transform: rotate(-50deg) translate(-4px, 3px);
  background-color: rgba(0,0,0,0.5);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  
  -moz-transform: rotate(50deg) translate(-8px, -8px);
  -o-transform: rotate(50deg) translate(-8px, -8px);
  -ms-transform: rotate(50deg) translate(-8px, -8px);
  -webkit-transform: rotate(50deg) translate(-8px, -8px);
  transform: rotate(50deg) translate(-8px, -8px);
  background-color: rgba(0,0,0,0.5);

}


/* hamburger menu end */

#my-name-span {
  padding-top: 10px;
  /* width: 80%; */
} 

#my-name{
    color: #242739;
    font-size: 1.4rem;
    text-decoration: underline;
    text-decoration-color: #69d5b1;
}

/* COVER */

.container, .contact_container {
    background-color: #e0ebe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2.5rem 2rem 2rem 2rem;
}


.column {
    width: 20rem;
    font-size: 1.2rem;
  }
.column-hero {
  z-index: 1000;
  width: 100%;
  justify-content: center;
  align-items: center;
}
  
.hero {
    width: inherit;
  }

  .column-text {
    padding-top: 1.5rem;
    text-align: center;
}

 .rollIn {
   animation-delay: 1s;
  }

 h3 {
   color: #69d5b1;
 }


   /* BLOCKQUOTE */
   .quote-container {
    padding: 1rem 2rem;
  }

   blockquote {
    color: gray;
    font-family: Georgia, serif;
    font-size: inherit;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

blockquote p {
  color: #75808a; 
  line-height: 1.4 !important;
}

blockquote p:first-child:before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;    
  text-shadow: none;
  z-index: -300;
}

cite {
  color: gray;
  display: block;
  font-size: .8em; 
}

cite span {
  color: #5e5e5e;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 1px white; 
}
@media only screen and (min-width: 695px) {
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 768px) {
     .quote-container {
       padding: 3rem 4rem;
     } 
}

@media only screen 
and (min-width: 700px)
and (max-width: 899px) {

   .column-text {
     padding-top: 2.5rem;
   }
}

@media only screen and (max-width: 899px) {
  .contactMe, .contact_svg_container  {
    width: 100%;
  }
}

@media only screen and (min-width: 900px ) {
  .item {
   font-size: 1.3rem;
  }

  .link-toggle {
    font-size: 2rem;
  }
   .column {
     width: 600px;
   }

   .column-text {
     padding-top: 5rem;
   }

   h4 {
    height: 10rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
   }
}


/* ABOUT ME */

.highlight {
    box-shadow: inset 0 -0.8rem #69d5b1, inset 0 0 #69d5b1;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.1;
    color: #222;
    font-family: Publico,Georgia,serif!important;
}

#about {
  height: 20rem;
}

header {
  position: relative;
  overflow: hidden;
  height: 20rem; 
}

@media only screen and (max-width: 488px ) {
  header {
     height: 20vh;
  }
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #69d5b1;
  background: -moz-linear-gradient(top, #698dd5 0%, #69d5b1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #69d5b1), color-stop(100%, #698dd5));
  background: -webkit-linear-gradient(top, #698dd5, #69d5b1);
  background: -o-linear-gradient (top, #698dd5, #69d5b1);
  background: -ms-linear-gradient(top, #698dd5 0%, #69d5b1 100%); 
  background: linear-gradient(top,#698dd5 0%, #69d5b1 100%); 
  transform: skewY(-12deg);
  transform-origin: top left;
}

.portfolio_bg {
  transform: skewY(12deg);
  transform-origin: top right;;
}



h2 {
  margin: 0;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: rgba(0,0,0,0.5);
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header h2 {
  position: relative;
  color: white;
}

.profile-container {

    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
} 

.profile-container p {
  line-height: 2.2;
  text-align: left;

}

.profile-svg {
  width: 20rem;
}

.LI-profile-badge {
    float: left;
    margin: 0 20px 20px 0;
    height: 300px;
}

#skillsHeading {
  color: #69d5b1;
}

#skillsHeading:after {
  content: ""; 
  display: block;
  margin: 0 auto; 
  width: 80%; 
  padding-top: 20px; 
  border-bottom: 2px solid #e0ebe8;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 2rem;
  width: 90%;
  margin: 0 auto;
  /* background-color: #e0ebe8; */
}

@media only screen and (min-width: 900px ) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.skillsImg {
  width: 100%; 
  height: 20vh;
  padding: 0.5rem;
}



    /* PROJECTS SECTION */
    
    #portfolioHeader {
      text-align: center;
      margin-top: -5rem;
      z-index: 900;
      position: relative;
    }

    #portfolioSVG {
      width: 100%;
      padding-left: 2rem;
    }

    @media only screen and (min-width: 1000px ) {
      #portfolioSVG {
        width: 60rem;
      }
    }

    main {
      clear: left;
      padding-top: 3rem;
    }


   .myProject { 
    justify-content: space-around;
    background-color: #FFDBA5;
    gap: 2rem;
    padding: 1rem;
  }

  .myProject h2 {
      padding: 1rem;
    }

  .project2 {
    background-color: #FFC3A5;
  }

  .imageContainer {
    padding: 1.3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }

  .projectImg {
    width: 100%;
    height: auto;
    opacity: 1;
    display: block;
     transition: .5s ease;
    backface-visibility: hidden;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }
  
  .onHoverButtons {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }

  .onHoverButtons button {
  margin: 10px;
      
  }

  button {
    background-color: #69d5b1;
    font-size: 1rem;
    padding: 6px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  button a {
    text-decoration: none;
    color: black;
    
  }


  .imageContainer:hover .projectImg {
    opacity: 0.3;
  }
  
  .imageContainer:hover .onHoverButtons {
    opacity: 1;
  }
  
  .stack {
    text-align: center;
  }

  
  @media only screen and (min-width: 700px ) {
     .projectImg {
       width: 650px;
     }
    }
 
  
  

/* CONTACT ME */
 

 .contact_container {
   background-color: #fafbfe;
   padding-bottom: 0;
   margin-bottom: 0;;
 }

 .contact_container p {
   color: #242739;
 }
 
 .contactMe {
   padding-left: 0;
 }

  /* .contact_svg {
   border: 1px solid gray; 
  } */


 #contact {
  font-size: 3rem;
  color: #FFE1D2;
  margin: 0;
  text-transform: uppercase;
 } 
 .email {
   text-decoration: none;
   font-size: 1.5rem;
   color: #69d5b1;
 }

 .email:after {
  content: "";
  display: block;
  width: 180px;
  height: 3px;
  background: #69d5b1;
  margin: 0 auto;
}

 


/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    /* padding: 70px 0 50px 0; */
    background-color: #242739;
    color: #fafbfe;
    position: relative;
}

.footer-text {
    font-size: 1em;
}

 #home {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  
}

.fa-angle-double-up {
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #69d5b1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.fa-angle-double-up:before {
  content: "\F13F";
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */



    /* background:  #D2F9FE; /* Old browsers */
    /* background: -moz-linear-gradient(top, #FEDE4C 0%, #FAC503 100%); FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #FEDE4C), color-stop(100%, #FAC503)); Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top,  #FEDE4C 0%, #FAC503 100%); Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top,#FEDE4C 0%, #FAC503 100%); Opera 11.10+ */
    /* background: -ms-linear-gradient(top,  #FEDE4C 0%, #FAC503 100%); IE10+ */
    /* background: linear-gradient(top,   #FEDE4C 0%, #FAC503 100%); W3C */


/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
