/* ABOUT ME */
header {
  position: relative;
  overflow: hidden;
}

#about {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.8s ease-in 50ms;
}

.header-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  transform-origin: top left;
  transform: skewY(-10deg);
}

h2 {
  margin: 0;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.4rem;
}

.profile-container p {
   line-height: 2.2; 
   font-size: large;
}

.profile-svg {
  z-index: 1;
}
.profile-svg img {
  width: 25rem;
}

/* .LI-badge-container.horizontal.dark {
  width: auto !important;
  color: #4f9f84 !important;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px !important;
  margin-top: -5rem !important;
} */

#skillsHeading {
  color: #4f9f84;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bolder;
}

#skillsHeading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  border-bottom: 2px solid #e0ebe8;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 2rem;
  width: 90%;
  margin: 0 auto;
}

.skillsImg {
  width: 100%;
  height: 20vh;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 558px) {
  .profile-svg img {
    width: 20rem;
  }
}
@media only screen and (max-width: 870px) {
  .profile-container {
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  /* .LI-badge-container.horizontal.dark {
    margin-top: 0 !important;
  } */
  
}
@media only screen and (min-width: 870px) {
  .LI-profile-badge {
    margin-top: -3rem;
  }
}

@media only screen and (min-width: 900px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1199px) {
  .profile-svg img {
    width: 30rem;
  }
}
