/* CONTACT ME */

.contact_container {
  background-color: #fafbfe;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact_container p {
  color: #242739;
}

.contactMe {
  padding-left: 0;
}

#contact {
  font-size: 2rem;
  color: #8e6c5c;
  margin: 0;
  text-transform: uppercase;
}
.email {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  width: 10em;
  height: 2em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  background-color: #69d5b1;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  transition: 0.4s;
  border-radius: 1rem;
}
.email:hover {
  color: #ffc3a5;
  background-color: #698dd5;
  transition: 0.4s;
}

.email-container:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 4rem;
  border-bottom: 2px solid #e0ebe8;
}

@media only screen and (max-width: 899px) {
  .contactMe,
  .contact_svg_container {
    width: 100%;
  }
}
