/* CONTACT ME */
 

.contact_container {
    background-color: #fafbfe;
    padding-bottom: 0;
    margin-bottom: 0;;
  }
 
  .contact_container p {
    color: #242739;
  }
  
  .contactMe {
    padding-left: 0;
  }
 
  #contact {
   font-size: 3rem;
   color: #FFE1D2;
   margin: 0;
   text-transform: uppercase;
  } 
  .email {
    text-decoration: none;
    font-size: 1.5rem;
    color: #69d5b1;
  }
 
  .email:after {
   content: "";
   display: block;
   width: 180px;
   height: 3px;
   background: #69d5b1;
   margin: 0 auto;
 }
 
 @media only screen and (max-width: 899px) {
    .contactMe, .contact_svg_container  {
      width: 100%;
    }
  }
 
 